<body>

  <button (click)="OpenSideMenu()" class="hamburger">
    <div class="bar"></div>
  </button>

  <div  class="side-menu">
  <nav>
    <button (click)="OpenSideMenu()"></button>
    <ul>
      <li><div for="">Name</div></li>
      <li class="personal-data"><label for="">{{message?.info?.name}}</label></li>
      <li><div for="">e-mail</div></li>
      <li class="personal-data"><label for="">{{message?.info?.email}}</label></li>
      <pre></pre>
      <li><a href="#">My loans</a></li>
      <pre></pre>
      <li><button type="button" class="btn btn-primary">Zaloguj</button></li>
    </ul>
  </nav>
  </div>

  <div class="welcome">
    <h1>Na święta Twoim bliskim należy się więcej!</h1>
    <h2>Korzystaj z życia.</h2>
    <h3>łatwo · prosto · szybko</h3>
  </div>
  <div class="form-container">
    <app-inquire-form *ngIf="message!=null" [message]="message"></app-inquire-form>
  </div>
</body>
<footer></footer>
