<body>
  <div>
    <a class="go-back-button" routerLink="/main-page"
      ><<< Powrót do strony głownej
    </a>
  </div>
  <form >
    <div class="form-header">Dane personalne</div>

    <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Imię:</mat-label>
          <input matInput [formControl]="NameControl" required />
          <mat-error *ngIf="NameControl.invalid">{{
            getNameErrorMessage()
          }}</mat-error>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Nazwisko:</mat-label>
          <input matInput [formControl]="SurNameControl" />
          <mat-error *ngIf="SurNameControl.invalid">{{
            getSurNameErrorMessage()
          }}</mat-error>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Data urodzenia</mat-label>
          <input
            matInput
            [matDatepicker]="picker1"
            [formControl]="BirthDateControl"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="BirthDateControl.invalid">{{
            getBirthDateErrorMessage()
          }}</mat-error>
        </mat-form-field>
    </div>

    <div class="form-header">Praca</div>

    <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Zawód</mat-label>
          <mat-select matInput [formControl]="JobTypeControl">
            <mat-option *ngFor="let job of jobbs" [value]="job.name">{{
              job.name
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="NameControl.invalid">{{
            getJobTypeErrorMessage()
          }}</mat-error>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Data rozpoczęcia pracy</mat-label>
          <input
            matInput
            [matDatepicker]="picker2"
            [formControl]="JobStartDateControl"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="NameControl.invalid">{{
            getJobStartDateErrorMessage()
          }}</mat-error>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Data zakończenia pracy</mat-label>
          <input
            matInput
            [matDatepicker]="picker3"
            matInput
            [formControl]="JobEndDateControl"
          />
          <mat-hint>MM/DD/YYYY, w przypadku braku zostaw puste</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker3"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="form-header">Dokument</div>

    <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Typ dokumentu</mat-label>
          <mat-select matInput [formControl]="GovDocumentTypeControl">
            <mat-option *ngFor="let id of idds" [value]="id.name">{{
              id.name
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="NameControl.invalid">{{
            getGovDocumentTypeErrorMessage()
          }}</mat-error>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            matInput
            [formControl]="GovDocumentNumberControl"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="NameControl.invalid">{{
            getGovDocumentNumberErrorMessage()
          }}</mat-error>
        </mat-form-field>
    </div>

    <div id="save-error" *ngIf="saveError">
      Dane nie zostały zapisane, uzupełnij wymagane pola
    </div>
    <div *ngIf="saveSuccess">Dane pomyślnie zapisane</div>
    <div class="finish-buttons">
      <button mat-raised-button color="warn" (click)="DiscardForm()">
        Odrzuć Zmiany
      </button>
      <button mat-raised-button color="primary" (click)="SubmitForm()">
        Zapisz Zmiany
      </button>
    </div>
  </form>
</body>
