<!--
<div *ngIf="isLoggedIn()">
  <div class="container">Name: {{ userInfo?.info?.name }}</div>
  <div class="container">E-mail: {{ userInfo?.info?.email }}</div>
  <div class="container"><img src="{{ userInfo?.info?.picture }}" style="border-radius: 50%;"></div>
  <div class="container">
    <button (click)="logout()">Logout</button>
  </div>
</div>

<div>
  <app-login-page></app-login-page>
</div>
-->

<body>

  <button (click)="OpenSideMenu()" class="hamburger">
    <div class="bar"></div>
  </button>

  <div  class="side-menu">
  <nav>
    <button (click)="OpenSideMenu()"></button>
    <ul>
      <li *ngIf="userInfo!=null" ><button  (click)="logout()">Logout</button></li>
      <li *ngIf="userInfo==null" ><button (click)="login()">Log in</button></li>
      <li><a routerLink="/user-data-page" routerLinkActive="active" ariaCurrentWhenActive="page">Dane użytkownika</a></li>
    </ul>

  </nav>
  </div>

  <div class="welcome">
    <h1>Na święta Twoim bliskim należy się więcej!</h1>
    <h2>Korzystaj z życia.</h2>
    <h3>łatwo · prosto · szybko</h3>
  </div>
  <div class="form-container">
    <app-inquire-form (status) = "InquireSubmit($event)"></app-inquire-form>
  </div>
</body>
<footer>
  <div *ngIf="show==true && isChosenOffer==false">
    <div *ngFor="let offer of oferty" class="offer">
      <div>
        <h2>Bank Offer</h2>
        <p>Amount of money: <strong>{{offer.amount}} 000</strong></p>
        <p>Number of instalments: <strong>{{offer.instalments}}</strong></p>
        <p>Installment value: <strong>{{offer.instalmentToPay}}</strong></p>
        <button mat-raised-button color="primary" (click)="ChooseOffer(offer)">Choose</button>
      </div>
    </div>
  </div>
  <div *ngIf="show==true && isChosenOffer==true">
    <div>
      <div (click)="LeaveOffer()" class="go-back-button"><strong><--</strong></div>
      <h2>Bank Offer</h2>
      <p>Amount of money: <strong>{{chosenOffer!.amount}} 000</strong></p>
      <p>Number of instalments: <strong>{{chosenOffer!.instalments}}</strong></p>
      <p>Installment value: <strong>{{chosenOffer!.instalmentToPay}}</strong></p>
      <button mat-raised-button color="primary" (click)="ApplyForALoan(chosenOffer!)">Apply for the loan</button>
    </div>
  </div>

</footer>

