<body>

  <button (click)="OpenSideMenu()" class="hamburger">
    <div class="bar"></div>
  </button>

  <div  class="side-menu">
  <nav>
    <button (click)="OpenSideMenu()"></button>
    <ul>
      <li><a routerLink="/user-data-page" routerLinkActive="active" ariaCurrentWhenActive="page">Dane użytkownika</a></li>
      <li><a routerLink="/my-inquires-page" routerLinkActive="active" ariaCurrentWhenActive="page">Moje Wnioski</a></li>
    </ul>

  </nav>
  </div>

  <div class="welcome">
    <h1>Na święta Twoim bliskim należy się więcej!</h1>
    <h2>Korzystaj z życia.</h2>
    <h3>łatwo · prosto · szybko</h3>
  </div>
  <mat-card class="form-container">
    <app-inquire-form (status) = "InquireSubmit($event)"></app-inquire-form>
  </mat-card>
</body>
<footer>
  <div *ngIf="show==1 && isChosenOffer==false" id="offers">
    <div *ngFor="let offer of oferty">
      <mat-card class="offer">
        <h2>Bank Offer</h2>
        <p>Amount of money: <strong>{{offer.amount}} 000</strong></p>
        <p>Number of instalments: <strong>{{offer.instalments}}</strong></p>
        <p>Installment value: <strong>{{offer.instalmentToPay}}</strong></p>
        <button mat-raised-button color="primary" (click)="OpenDialog(0)">Choose</button>
      </mat-card>
    </div>
  </div>
  <div *ngIf="show==2" id="podsumowanie">
    Wniosek został złożony, jego status możesz sprawdzić w zakładce moje wnioski.
  </div>

</footer>

