<body>

  <button (click)="OpenSideMenu()" class="hamburger">
    <div class="bar"></div>
  </button>

  <div  class="side-menu">
    <app-side-menu (close)="OpenSideMenu()" [userInfo]="userInfo"></app-side-menu>
  </div>

  <div class="welcome">
    <h1>Na święta Twoim bliskim należy się więcej!</h1>
    <h2>Korzystaj z życia.</h2>
    <h3>łatwo · prosto · szybko</h3>
  </div>

  <mat-card class="form-container">
    <app-inquire-form (status) = "InquireSubmit($event)"></app-inquire-form>
  </mat-card>

</body>

<footer>

  <div *ngIf="show==1 && isChosenOffer==false" id="offers">
   <app-offers-display [oferty]="oferty" (offerChoosen)="OpenDialog($event)"></app-offers-display>
  </div>
  <div *ngIf="show==2" id="podsumowanie">
    Wniosek został złożony, jego status możesz sprawdzić w zakładce moje wnioski.
  </div>

</footer>

